body {
  width: 300px;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  border-top: 1px solid;
  padding: 10px;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li:first-child {
  border-top: none;
}
