body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
}

button {
  background: none;
  border: none;
  outline: none;
}

.Tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Tab a {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.Tab button {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

.Tab button:hover {
  background-color: none;
  border: 1px solid black;
}

.Tab button.muted {
  background-image: url(images/ios7-volume-low.png);
}

.Tab button.unmuted {
  background-image: url(images/ios7-volume-high.png);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 14px;
  border-top: 1px solid;
  padding: 10px;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li:first-child {
  border-top: none;
}
